/big-market-app/target/
/big-market-app/data/log/
/big-market-infrastructure/target/classes/org/example/infrastructure/persistent/
/data/log/
/big-market-domain/target/classes/org/example/domain/strategy/
/.idea/
/big-market-types/target/
/big-market-trigger/target/
/big-market-infrastructure/target/
/big-market-domain/target/
/big-market-domain/big-market-domain.iml
/big-market-infrastructure/big-market-infrastructure.iml
/big-market-trigger/big-market-trigger.iml
/big-market-app/big-market-app.iml
/big-market-api/target/
/big-market-types/big-market-types.iml
/big-market-types/target/
/big-market-types/target/classes/
/docs/dev-ops/environment/log/
/big-market-domain/src/main/java/org/example/domain/credit/model/aggregate/集合对象，对外服务
/big-market-domain/src/main/java/org/example/domain/credit/model/entity/操作数据库对象
/big-market-domain/src/main/java/org/example/domain/credit/model/valobj/描述对象属性值
