/big-market-app/target/
/big-market-app/data/log/
/big-market-infrastructure/target/classes/org/example/infrastructure/persistent/
/data/log/
/big-market-domain/target/classes/org/example/domain/strategy/
